html {
  height: 100%;
  margin: 20px;
}

body {
  background-color: #efe4f2;
  /* background-color: #e0efff; */
  height: 80%;
  width: 70%;
  margin: auto;
  color: #666565;
}
button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.shopping-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 4px 5px 12px -5px rgba(194, 194, 194, 1);
  -moz-box-shadow: 4px 5px 12px -5px rgba(194, 194, 194, 1);
  border-radius: 15px;
  /* to apply shadow on border radius not on squarex */
  box-shadow: 4px 5px 12px -5px rgba(194, 194, 194, 1);
}

.header {
  height: 50px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  padding: 10px 0px 2px 0px;
  vertical-align: middle;
}

.linear-gradient {
  /* background: conic-gradient(lightpink, white, powderblue); */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(236, 180, 245, 1) 0%,
    rgba(129, 200, 222, 1) 100%
  );
}

ul.item-list {
  flex: 1;
  list-style: none;
  margin: 0;
  font-size: 20px;
  background-color: #f5f5f5;
  /* padding: 20px 15px; */
  padding: 20px 0px;
  overflow-y: auto;
}

.item-row {
  padding: 5px 10px;
  /* padding: 5px 10px 5px 10px; */
  vertical-align: middle;
}
.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  vertical-align: middle;

  width: 90%;
  margin: auto;
  padding: 3px 2px;
}
.item-divider {
  width: 95%;
  margin: auto;
  height: 1px;
  background-color: #dde7eb;
  /* since div is a block level, automatically has right margin */
  /* margin-bottom: 7px; */
  /* to set the margin s.t. item goes into the middle */
}
.item-list li:hover {
  background-color: #f1d7f5;
}
.item-delete-icon {
  font-size: 18px;
  color: #81c8de;
  /* cursor: pointer; */
  transition: all 300ms ease-in;
}
.item-delete-icon:hover {
  color: #df19fc;
  transform: scale(1.1);
}
.stroked {
  /* finished todo */
  text-decoration: line-through;
}

.footer {
  width: 100%;
  text-align: center;
  height: 85px;
  line-height: 30px;
  border-radius: 0px 0px 15px 15px;
}
.input-text {
  width: 100%;
  height: 35px;
  background-color: #fcfafa;
  border: 2px solid #f1d7f5;
  outline: none;
  color: #81c8de;
  padding: 7px;
  box-sizing: border-box;
  /* width100% + padding*2 = so exceeds width100  */
  font-size: 20px;
}

.add-icon {
  /* https://stackoverflow.com/questions/2491068/does-height-and-width-not-apply-to-span 
     // width& height don't work to span  */
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 27px;

  margin: 8px;
  font-size: 30px;
  color: white;
  border: 2px solid #a3a2a2;
  /* #8a8888 */
  background-color: #8a8888;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.add-icon:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: #e7c2f2;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e6b5f4;
}
